@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.home {
    color: #213F26ff;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-family:  'Bebas Neue', sans-serif;
}
h1 {
    /* writing-mode: vertical-lr;
    left: 10%; */
}