@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.home {
    color: #e0e1ddff;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-family:  'Bebas Neue', sans-serif;
}
.home h1{
    /* color: blueviolet; */
}
.home h3{
    /* color:blue */
}

.home h2{
    /* color: aquamarine; */
}