
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECBC3Fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* --saffron: #ECBC3Fff;
--british-racing-green: #213F26ff;
--burnt-orange: #B75C22ff;
--cal-poly-green: #2D5432ff;
--fulvous: #DB852Cff;
--sienna: #802B0Dff;
 */