.InterestCell {
    display: grid;
    border: 10px solid #B75C22ff;
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;;
    font-size: large;
    
}
