.InterestCell {
    display: grid;
    border: 10px solid #1b263bff;
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;;
    font-size: large;  
}

.InterestInfo {
    color: #e0e1ddff;
}

.seeMore {
    color: #e0e1ddff;
    text-decoration: none;
}
